<h1><%- title %></h1>

<p>This is a test site for trying to publish static contents from Travis CI.</p>

<p><a href="https://github.com/ksoichiro/gh-pages-android-playground">GitHub repository</a></p>

<%- partial('../../docs/index') %>
